@import "variables";

.vh-100 {
    background-color: $secondary;
}
.nameConnexion {
    margin : 10px;
    display:flex;
    flex-direction: row;
    align-items : baseline;
    justify-content: flex-end;
    gap: 10px;
}
h6{
    color: $secondary;
}
.btn-form{
    background-color: $secondary;
    color: $light;
    margin: 20px;
    font-size: 2.5rem;
    min-width: 20rem;
}

.btn-form:hover {
    background-color: $fourthly;
    color: $secondary;
}

.custom-height {
display: flex;
flex-direction: column;
justify-content: center;
flex-grow: 3;
}

.btn-logout {
    margin: 1px;
    font-size: 0.8rem;
    background-color: $fourthly;
    min-width: 8rem;
    color: $secondary;
  }

  .btn-logout:hover {
    background-color: $secondary;
    color: $light;
}
.btn-admin{
    margin: 1px;
    font-size: 0.8rem;
    background-color: $secondary;
    min-width: 8rem;
    color: $light;
  }
.btn-admin:hover {
    background-color: $fourthly;
    color: $secondary;
}

.img-fluid {
    border-radius:1rem 0 0 1rem;
}
