@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$primary: #123d43;
$secondary: #1a8d9d;
$tertiary: #ece6dc;
$fourthly: #d7a678;
$light: #FFF;
$dark: #0e0e0e;

$font-text: "Lora";