{% extends 'base.html.twig' %}

{% block title %}Codexial
{% endblock %}
{% block body %}
	<form action="{{ path('app_logout') }}" method="post">
		<button type="submit">Se déconnecter</button>
	</form>
{% endblock %}
