{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('_navbar_admin') }}
{% endblock %}
{% block body %}
	<nav class="navbar navbar-expand-lg custom-navbar ">
		<div class="container-fluid"></div>
		<form class="ml-auto" action="{{ path('app_logout') }}" method="post">
			<button type="submit" class="btn btn-logout">Déconnexion</button>
		</form>
	</nav>
{% endblock %}
